.colors {
  color: #0d1217; //main
  color: #12181d; //main sec
  color: #2b353e; //icons 1
  color: #5c6873; //icons 2
  color: #fcff6b; // theme color
}
.main-container {
  width: 100%;
  height: 100vh;
  background-color: #0d1217;
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome-screen {
    width: 100%;
    height: 100%;
    background-color: #0d1217;
    // ul {
    //   padding: 0;
    //   margin: 0;
    //   list-style: none;
    //   display: flex;
    //   align-content: center;
    //   width: calc(7 * 20px + 38px);
    //   li {
    //     margin-left: 10px;
    //     width: 15px;
    //     height: 15px;
    //     border-radius: 10px;
    //     background: grey;
    //     transition: width 0.3s ease-in-out;
    //     cursor: pointer;
    //     button {
    //       display: inline-block;
    //       visibility: hidden;
    //     }
    //     &:hover {
    //       background: orange;
    //       width: 15px;
    //     }
    //     &.active {
    //       background: #fcff6b;
    //       width: 38px;
    //     }
    //   }
    // }
    // .pagination_component {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   justify-content: center;
    //   gap: 0rem;
    // }
  }
}
